.DS_Store
*.pyc
.Python

# Flask
bin/
include/
lib/
local/
pip-selfcheck.json

# Node
node_modules/

# Build Files
app/static/images/icons/icon-sprite.svg
app/static/scripts/build/
app/static/styles/build/
