main {
	display: flex;
  flex-flow: column;
  height: 100%;
	max-width: 45rem;
	font-size: 1.5rem;
	margin: 0 auto;

	@media (min-width: 65em) {
		max-width: 65rem;
	}

	h1 {
		flex: 0 1 auto;
		margin: 2.5rem auto 0;
		text-align: center;
    color: var(--offwhite);
    font: normal normal 5rem/1.2 'acier-bat-noir', 'Didot', sans-serif;

		@media (min-width: 35em) {
			font-size: 6.5rem;
		}
	}
}

/*.response-text {
	max-width: 45rem;
	background-color: #EDEDED;
  color: var(--darkgrey);
	font-family: monospace;
	padding: 2.5rem;
	margin: 2.5rem auto 1.25rem;
  box-shadow: 0 3px 50px rgba(255, 255, 255, 0.3);
}*/

.responses {
	flex: 1 1 auto;
	text-align: justify;
	padding-left: 0;
	margin: 1.25em auto 0;
	position: relative;
}

.article {
	padding-right: 10px;
}

.article:last-child {
	padding-right: 0;
}

.response {
	display: inline-block;
	line-height: 1.4;
	color: var(--offwhite);
	opacity: 0.8;
	padding: 0 0.35em;

	&.size1 {
		font-size: 1.2em
	}

	&.size2 {
		font-size: 1.4em
	}

	&.size3 {
		font-size: 1.6em
	}

	&.size4 {
		font-size: 1.8em
	}
}

.status {
	max-width: 45rem;
	background-color: #EDEDED;
	color: var(--darkgrey);
	font-family: monospace;
	text-align: center;
	padding: 1.25rem;
	margin: 1.25rem auto;
	box-shadow: 0 3px 50px rgba(255, 255, 255, 0.3);

	&.success {
		/* Emma's seafoam green. */
		background-color: #48C9B0;
		color: var(--offwhite);
	}

	&.failure {
		background-color: #DB4A30;
		color: var(--offwhite);
	}

	&.remove {
		animation: remove-status 0.35s ease-in forwards;
	}

	p {
		margin: 0;
	}
}

.decor-triangle {
  display: none;
  position: absolute;
	bottom: 0;
	left: 0;
	width: 25rem;
	max-width: 50vmin;
	height: auto;

	@media (min-width: 35em) {
		display: block;
	}
}

@keyframes remove-status {
	from {
		z-index: -1;
	}
	to {
		transform: translateY(-125vh);
		opacity: 0;
	}
}
