{% include 'partials/_doctype.html' %}
<html lang="en" class="no-js">

<head>
<title>Scott is...</title>

{% include 'partials/_meta_tags.html' %}

<!-- CSS -->
<link rel="stylesheet" href="/static/styles/build/app.css?{{template_vals.app_version}}">

<!-- Typekit -->
<script src="https://use.typekit.net/elq1qbu.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>
	<header>
		<a href="https://ScottHSmith.com" class="homelink">
			<svg viewbox="0 0 50 50">
				<use xlink:href="#slash">
			</svg>
			<span>ScottHSmith.com</span>
		</a>

		<a href="#help" class="help">
			<svg viewbox="0 0 50 50">
				<use xlink:href="#help">
			</svg>
		</a>
	</header>

  <p id="help" class="help-text hidden">
    What do people think about you? We've all asked ourselves this question at some time or another. While in an ideal situation we learn we don't need to know the answer (just be yourself), I decided to take a stab at actually learning what people think of me. That's what this is, in case you were wondering. Now, an anonymous answer box seems obvious but I wanted to take it farther. Punching in a nice response or finding the perfect words to tear me apart only to hit send and have it whisked away into the ether isn't a very engaging experience. There's no incentive for people to submit a response if it appears to be unseen. So I'm displaying random responses for anyone to see. I also instantly receive a Slack notification when a response is posted. Go ahead, roast me, or say something nice. It's all fair game.
  </p>

	<main>
		<h1>{{template_vals.main_text}}</h1>
		<form class="input-form" action="/" method="POST">
			<input type="text" name="response" autocomplete="off" required autofocus>
			<input type="submit" name="submit" value="Send">
		</form>
	</main>

	<script async type="text/javascript" src="/static/scripts/build/app.js?{{template_vals.app_version}}"></script>

</body>

</html>
